<!DOCTYPE html>
<html lang="{$website_lang}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {$site_meta|noescape}
    {Site::loadLibHeader()|noescape}
    <style>
        body { background-color: #ffffff; padding: 0px; }
        .blank-watermark { position: fixed; top: 20px; right: 20px; opacity: 0.3; font-weight: bold; }
    </style>
</head>
<body>
