inc/config/*
inc/migrations/*
*/docs/*
assets/cache/*
assets/.tmb
assets/.quarantine
assets/media/audios/*
assets/media/videos/*
assets/media/images/*
assets/media/cache/*
.htaccess
.idea
test*
temp*
opt.txt
out*.txt
out.json
output.*
error_log.txt
error.txt
check*
db_*
front*
genixcms-docs*
gd_*
genixcms.db
tmp*
upload*
reset*
reproduce*
