inc/config/*
*/docs/*
assets/cache/*
assets/.tmb
assets/.quarantine
assets/media/*
.htaccess
.idea
test*
temp*
opt.txt
out*.txt
error_log.txt
error.txt
check*
db_*
front*
genixcms-docs*
gd_*
genixcms.db_
tmp*
upload*
reset*
reproduce*
