/*a, #side-menu a, .navbar-inverse a:hover {*/
    /*color: #333;*/
/*}*/

/*a:hover, #side-menu a:hover {*/
    /*color: #000;*/
/*}*/

/*.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {*/
    /*color: #999;*/
/*}*/

/*.navbar-inverse a {*/
    /*color: #eee;*/
/*}*/


* {
  border-radius: 0px!important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

* {
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    /*text-indent: -9999px;*/
    background-color: #222d32;
    border-radius: 4px;
    color: #efefef;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    cursor: pointer;
}

ul.users-list > li > img {
    -webkit-border-radius: 50%!important;
    -moz-border-radius:50%!important;
    border-radius:50%!important;
    opacity: .3;
}