a, #side-menu a, .navbar-inverse a:hover {
    color: #333;
}

a:hover, #side-menu a:hover {
    color: #000;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color: #999;
}

.navbar-inverse a {
    color: #eee;
}


* {
  border-radius: 0px!important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

* {
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}